.header{
    background-color: #7c3903;
    color: #ffffff;
    
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-family: 'Comic Sans MS', cursive;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: rotate(5deg);
}

.header h1 {
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
}

.header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header nav li {
    display: inline-block;
    margin: 0 10px;
}

.header nav li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.header nav li a:hover {
    color: #1ef37e;
}